.gnupg
virtualenv
*.pyc
__pycache__
*~
virtualenv
site-packages
src
.DS_Store
*/.DS_Store
.bash_history
.bashrc
.lesshst
.psql_history
.psqlrc
.ssh
.config
fcgi-wrapper/
www/site.wrapper
www/.well-known/
